body{
	position: relative;
	margin: 0;
	padding: 0;
}

.round{
	border-radius: 50%;
}

.flexCenter{
	display: flex;
	width: 100%;
	justify-content:center;
}
.flexCenter div{
	margin-left: 20px;
	margin-right: 20px;
}

table {
margin-top:10px;
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
font-size: 14px;
border-collapse: collapse;
text-align: center;
}

table h4{
	text-align: center;
}

th, td:first-child {
background: #AFCDE7;
color: black;
padding: 10px 20px;
}

th, td {
border-style: solid;
border-width: 0 1px 1px 0;
border-color: white;

}

td {
background: #AFCDE7;
padding-right: 10px;
padding-left: 10px;
padding-top: 25px;
padding-bottom: 25px;
min-width: 400px;
}

th:first-child, td:first-child {
text-align: left;
}

.mt50{
	margin-top: 50px;
}
.mt5{
	margin-top: 5px;
}

.pt50{
	padding-top: 50px;
}
.mb50{
	padding-bottom: 80px;
}

footer{
	width: 100%;
	height: 60px;
}

.bg{
	position: relative;
	background: url(../img/theme.jpg)  no-repeat;
	background-size: cover;
	min-height: calc(100vh - 60px);
}

.bgmain{
	position: relative;
	background-color: white;
	background-size: cover;
	min-height: calc(100vh - 60px);
}

.wrap{
	word-break:break-all;
}

@media screen and (max-width: 1000px){
	td {
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	min-width: 300px;
	}
	.mt50{
	margin-top: 70px;
	}

	.pt50{
	padding-top: 100px;
}
}